{% extends "base.html" %}
{% load static %}

{% block title %}Courses | Cup of English{% endblock %}

{% block content %}

<!-- Page Header -->
<div class="container-fluid page-header mb-5 text-left text-white page-header-bg">
    <div class="container py-5">
        <h1 class="display-4 text-uppercase">Courses</h1>
        <p class="m-0 text-uppercase">
            <a href="{% url 'core:index' %}">Home</a> >>
            Courses
        </p>
    </div>
</div>

<!-- Category Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">

        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing:5px;">Subjects</h5>
            <h1>Explore Top Subjects</h1>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-1.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Lang and Lit (SL/HL)</h4>
                        <span>IB English A Course</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-2.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Literature (SL/HL)</h4>
                        <span>IB English A Course</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-3.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">IGCSE FL English</h4>
                        <span>IGCSE Course</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-4.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">IGCSE English Lit</h4>
                        <span>IGCSE Course</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-5.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Lit & Non-lit Analysis</h4>
                        <span>Core Analytical Skills</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-6.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Comparative Study</h4>
                        <span>Core Analytical Skills</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-7.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Key Concepts</h4>
                        <span>Core Analytical Skills</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="cat-item position-relative overflow-hidden rounded mb-2">
                    <img class="img-fluid" src="{% static 'cup_of_english/images/cat-8.jpg' %}" alt="">
                    <a class="cat-overlay text-white text-decoration-none">
                        <h4 class="text-white font-weight-medium">Reading for Meaning</h4>
                        <span>Core Analytical Skills</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Category End -->

<!-- Courses Start -->
<div class="container-fluid py-5">
    <div class="container py-5">

        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing:5px;">Courses</h5>
            <h1>Our Popular Courses</h1>
        </div>

        <div class="row">

            {% for i in "123456" %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="rounded overflow-hidden mb-2">

                    <img class="img-fluid" src="{% static 'cup_of_english/images/course-'|add:i|add:'.jpg' %}" alt="">

                    <div class="bg-secondary p-4">
                        <div class="d-flex justify-content-between mb-3">
                            <small class="m-0">
                                <i class="fa fa-users text-primary mr-2"></i>All Levels
                            </small>

                            <small class="m-0">
                                <i class="far fa-clock text-primary mr-2"></i>Flexible Access
                            </small>
                        </div>

                        {% if forloop.counter == 1 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'general' %}">
                            General English
                        </a>
                        <p>Improve speaking, grammar, vocabulary and confidence.</p>
                        <h5 class="m-0">From £199.00</h5>

                        {% elif forloop.counter == 2 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'business' %}">
                            Business English
                        </a>
                        <p>Professional English for career growth and communication.</p>
                        <h5 class="m-0">From £299.00</h5>

                        {% elif forloop.counter == 3 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'esp' %}">
                            English for Specific Purposes
                        </a>
                        <p>Specialised English for IT, Medical and industry needs.</p>
                        <h5 class="m-0">From £399.00</h5>

                        {% elif forloop.counter == 4 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'eap' %}">
                            English for Academic Purposes
                        </a>
                        <p>Academic writing, presentations and university readiness.</p>
                        <h5 class="m-0">From £399.00</h5>

                        {% elif forloop.counter == 5 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'ib' %}">
                            IB English
                        </a>
                        <p>Advanced IB Language & Literature success strategies.</p>
                        <h5 class="m-0">From £499.00</h5>

                        {% elif forloop.counter == 6 %}
                        <a class="h5" href="{% url 'courses:course_list_by_type' 'igcse' %}">
                            IGCSE English
                        </a>
                        <p>Exam-focused preparation for IGCSE success.</p>
                        <h5 class="m-0">From £499.00</h5>
                        {% endif %}

                    </div>

                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
<!-- Courses End -->

{% endblock %}