{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container py-5">
    <h2 class="text-center mb-5">Courses</h2>

    <div class="row g-4">
        {% for course in courses %}
        <div class="col-md-6 col-lg-4">
            <div class="shadow rounded overflow-hidden">
                <img class="img-fluid" src="{% static course.image %}">
                <div class="p-3">
                    <h5>{{ course.title }}</h5>
                    <p class="small">{{ course.description|truncatewords:15 }}</p>
                    <a href="{% url 'courses:detail' course.id %}" class="btn btn-primary btn-sm">View</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}