{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cup of English</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="{% static 'cup_of_english/images/favicon.ico' %}" rel="icon">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'cup_of_english/css/style.css' %}" rel="stylesheet">
</head>

<body>

    {% include 'includes/navbar.html' %}

    <!-- Django Messages -->
    <div class="container mt-3">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
            {{ message }}
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    {% block content %}{% endblock %}

    {% include 'includes/footer.html' %}

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS -->
    <script src="{% static 'cup_of_english/js/main.js' %}"></script>
    <script src="{% static 'cup_of_english/js/carousel.js' %}"></script>

</body>

</html>