{% load static %}
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <div class="container">
        <a href="{% url 'core:index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary">Cup of English</h2>
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{% url 'core:index' %}" class="nav-item nav-link">Home</a>
                <a href="{% url 'core:about' %}" class="nav-item nav-link">About</a>
                <a href="{% url 'courses:list' %}" class="nav-item nav-link">Courses</a>
                <a href="{% url 'teachers:list' %}" class="nav-item nav-link">Teachers</a>
                <a href="{% url 'core:contact' %}" class="nav-item nav-link">Contact</a>

                {% if user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}" class="nav-item nav-link">Logout</a>
                {% else %}
                <a href="{% url 'accounts:login' %}" class="nav-item nav-link">Login</a>
                <a href="{% url 'accounts:register' %}" class="nav-item nav-link">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>